*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:"Roboto", sans-serif;
}

body{
  position: relative;
}

#root{
  position: relative;
}

.scrollable{
  overflow: hidden;
}

.colorFilter{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  z-index: 100;
  width: 100%;
  min-height: 100%;
}

.expandedImage{
  z-index: 200;
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
  justify-content: center;
  overflow: hidden;
}

.expandedImageDiv{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subTotalDiv{
  align-self: flex-end;
  padding-block: 10px;
}

.expandedImageImage{
  z-index: 200;
}

.expandedImageImage >img{
  transition: 0.3s ease-out;
}

.expandedImageOff{
  display: none;
}

.expandedImageOn{
  display: flex;
}

.colorFilterOff{
  display: none;
}

.colorFilterOn{
  display: block;
}

.header{
  justify-content: space-around;
  padding: 1rem .5rem;
  background-color: rgb(12, 71, 11);
  height: 10vh;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 10;
}

footer{
  width: 100%;
  height: 150px;
  background-color: rgb(0, 51, 0);
  /* margin-top   : 10; */
  color: white;
  font-size: .85rem;
}

footer > p{
  text-align: center;
  margin-top: 10px;
  font-size: .7rem;
}

.footerContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-block: 20px;
  padding-inline: 150px;
  list-style-type: none;
}

.footerContent > li{
  margin-right: 20px;
  line-height: 1.3rem;
  cursor: pointer;
}

.emptyCart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;
}

.errorCart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;
}

.emptyCart > h2{
  position: absolute;
  top: 280px;
}

.browseProducts{
  position: absolute;
  top: 310px;
  color: #007185;
  cursor: pointer;
  font-size: 0.83rem;
}

.reloadCartPageReload{
  cursor: pointer;
  color: #007185;
}

.reloadCartPageReload:hover{
  text-decoration: underline;
}

.reloadCartPage{
  font-size: .93rem;
}

.emptyCart > .browseProducts:hover{
  text-decoration: underline;
}

.emptyCartSVG{
  width: 300px;
  height: 300px;
}

.errorCartIMG{
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.clearAllSearchCategory{
  align-self: center;
  color: rgb(68, 68, 68);
}

.searchCaterogrySetFiltersDiv{
  display: none;
}

.filterCat{
  margin-right: 10px;
  font-weight: 300;
}

.filterCatDiv{
  border: 2px solid grey;
  padding: 4px;
  display: inline-flex;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

.removeFilterCat{
  cursor: pointer;
  align-self: center;
}

.logo{
  width: 50px;
  height: 100%;
}

.logo >img{
  width: 90%;
  height: 100%;
}

hr{
  border: 1px solid rgb(157, 157, 157);
}

.sorting{
  margin-block: 20px;
}

.search{
  min-width: 70%;
  display: flex;
  gap: 5px;
  position: relative;
}

.searchBar{
  padding: 10px;
  width: 100%;
  border: none;
  background: none;
  border-bottom: 1px rgb(84, 128, 19) solid;
  color: white;
}

.searchBar:focus {
  /* outline:solid 1px black; */
  outline: none;
  border-color: green;
}

.searchButton{
  background: none;
  border: none;
  cursor: pointer;
}

.searchButton > svg{
  fill: rgb(84, 128, 19);
  width: 80%;
  height: 80%;
}

.searchButton > svg:hover{
  fill: green;
}

.searchDown{
  overflow-y: scroll;
  display: none;
  z-index: 2;
  top: 43px;
  position: absolute;
  width: 90%;
  max-height: 50vh;
  border-radius: 5px;
  background-color: white;
}

.searchHistory{
  display: none;
  overflow-y: scroll;
  z-index: 2;
  top: 43px;
  position: absolute;
  width: 90%;
  max-height: 50vh;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}

.searchHistory:active{
  display: block;
}

.searchBar:focus + .searchHistory{
  display: block;
}

.removeHistory{
  color: black;
  cursor: pointer;
  align-self: center;
}

.searchDownHistory{
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
  color: purple;
}

.historyTitle{
  align-self: center;
}

.searhDownHistoryLeft{
  flex: 1 1 auto;
  padding-block: 10px;
  display: flex;
  gap: 10px;
}

.searchDownHistory:hover{
  background-color: rgb(184, 181, 181);
}

.searchDownEl{
  padding: 10px;
  display: flex;
  gap: 10px;
}

.boldSearchDownEl{
  font-weight: bold;
}

.searchDownEl >p{
  align-self: center;
}

.searchDownElImg{
  width: 25px;
  height: 25px;
}

.searchDownEl:hover{
  background-color: rgb(184, 181, 181);
  cursor: pointer;
}

.searchBar:focus + .searchDown{
  display: block;
}

.closeExpandedImage{
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  font-size: 40px;
  padding-inline: 10px;
  color: white;
}

.expandExpandedImage{
  position: absolute;
  cursor: pointer;
  padding-block: 5px;
  top: 0px;
  right: 41px; 
  padding-inline:10px ;
}

.expandExpandedImage > svg{
  width: 25px;
  height: 25px;
}

.expandExpandedImage:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.closeExpandedImage:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.searchDown:active{
  display: block;
}

.searchDown::-webkit-scrollbar {
  display: none;
}

.cart{
  /* width: 1%; */
  height: 100%;
  padding-right: 20px;
  border-right: 1px solid black;
}

.cart >svg{
  height: 100%;
}

.contentOne{
  /* padding-top: .5rem; */
  padding-top: .5rem;
  padding-inline: 1.5rem;
  overflow: hidden;
  min-height: 100vh;
  padding-bottom: 1.5rem;
  /* overflow-x: hidden; */
}

.posters{
  margin: auto;
  width: 100%;
  position: relative;
}

.heroOne{
  margin-top: 2%;
}

.posters div{
  border-radius: 1vw;
}

.posters img{
  width: 100%;
  height: 45vh;
  z-index: -1;
}

.greyedOutAddSubtractButton{
  color: grey;
  cursor: default;
}

.slick-prev:before, .slick-next:before { 
  color:black !important;
  position: absolute !important;
  /* bottom: 30px; */
}

.sortByDiv{
  position: relative;
}

.sortByDropDown{
  display: none;
  position: absolute;
  min-height: 100px;
  min-width: 100%;
  top: 0px;
  right: 0;
  z-index: 100;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.8);
}

.sortByDropDown:active{
  display: flex;
}

.selectedSortBy{
  border: 3px solid black;
}

.sortByDropDownButton{
  border-radius: 10px;
  font-weight: 400;
  font-size: .9rem;
  cursor: pointer;
  padding: 5px;
}

.sortByDropDownButton:hover{
  background-color: rgb(234, 234, 234);
}

.grid-best-selling > .slick-prev:before,.grid-best-selling > .slick-next:before{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in;
  bottom: 30px;
  font-size: 30px;
  color: white !important;
  fill: black !important;
  border-radius: 0 !important;
}
.grid-best-selling:hover > .slick-prev:before,.grid-best-selling:hover > .slick-next:before{
  visibility: visible;
  opacity: 1;
}

.imagesDiv > .slick-prev:before,.imagesDiv > .slick-next:before{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in;
  bottom: 30px;
  font-size: 30px;
  color: black !important;
  fill: white !important;
  border-radius: 0 !important;
}
.imagesDiv:hover > .slick-prev:before,.imagesDiv:hover > .slick-next:before{
  visibility: visible;
  opacity: 1;
}

.arrowOff  > .slick-prev:before,.arrowOff > .slick-next:before{
  visibility: hidden;
}

.slick-prev{
  z-index: 1;
}

.slick-prev:before{
  left: 50px;
}

.slick-next:before{
  right: 50px;
}

.slick-dots{
  position: absolute;
  bottom: 0;
}

.title{
  margin-bottom: 25px;
}

/* .imagesDiv{
  overflow: hidden;
} */

.grid-best-selling{
  overflow: hidden;
  position: relative;
  max-height:350px;
}

.card-best-selling{
  width: 17rem;
  height: 55vh;
}

.bestsellingproducts{
  /* align-self: center; */
  /* width: 99%; */
  /* box-shadow: 1px 1px 5px 5px rgba(129, 129, 129, 0.46); */
  /* padding-inline: 10px;
  margin: auto; */
}

.card-img{
  width: 100%;
  height: 35vh;
}

.add-cart{
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  cursor: pointer;
  border-radius: 10px;
  width: 60px;
  height: 30px;
}

.add-cart:hover{
  background-color: gray;
}

.card-title{
  max-height: 10vh;
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-bottom{
  display: flex;
}

.rating{
  display: flex;
  margin-right: 10px;
}

.blank-star{
  width: 15px;
  height: 15px;
  align-self: center;
  margin-right: 5px;
}

.searchCategoryContentTypeStarRatingBlankStar > .starFilterFull{
  display: none;
}

.searchCategoryContentTypeStarRatingFullStar > .starFilterBlank{
  display: none;
}

.searchCategoryCustomerRating{
  display: flex;
  gap: 4px;
  margin-left: 3px;
}

.starSelectedFilter{
  width: .8rem;
  height: .8rem;
}

.starFilter{
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.bought{
  border-left: solid 1px black;
  padding-left: 10px;
}

.signupButton{
  align-self: center;
  color: black;
  background-color: rgb(61, 166, 32);
  text-decoration: none;
  text-align: center;
  width: 70px;
  height: 30px;
  padding-top: 5px;
  border-radius: 10px;
  margin-left: 10px;
  /* border-left: 1px solid black; */
}

.signupButtonCart{
  align-self: center;
  color: black;
  background-color: rgb(61, 166, 32);
  text-decoration: none;
  text-align: center;
  width: 150px;
  height: 40px;
  padding-top: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

.signupButtonCart:hover{
  background-color: rgb(102, 205, 50);
}

.signupButton:hover{
  background-color: rgb(102, 205, 50);
}

.right-nav{
  display:flex;
  justify-content:space-between;
}

.signup_form{
  padding: 30px;
  /* background-color: green; */
  margin: auto;
  width: 350px;
  /* height: 400px; */
  border: 1px grey solid;
  border-radius: 15px;
}

.signup-logo{
  display: block;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20PX;
}

.formControl{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.formfor{
  font-size: 15px;
  margin-bottom: 5px;
}

.signuptitle{
  margin-bottom: 10px;
  font-weight: 400;
}

.defaultInputType{
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  /* border-color: red; */
  border-style: solid;
}

.defaultInputType:focus{
  /* box-shadow: 3px 3px 3px lightblue; */
  outline-style: solid;
  outline-width: 2px;
  outline-color: lightblue;
}

.signupsubmit{
  /* align-self: center; */
  width: 100%;
  margin: auto;
  display: block;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(61, 166, 32);
  margin-bottom: 20px;
}

.signupsubmit:hover{
  background-color: rgb(102, 205, 50);
}

.wrong-input{
  margin-top: 3px;
  display: var(--show,none);
  color: red;
}

.terms{
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 20px;
}

.switchtologin{
  font-size: 13px;
  font-weight: 400;
  border-top: 1px solid grey;
  padding-top: 15px;
}

.logindiv{
  width: 350px;
  margin: auto;
}

.newto{
  padding-top: 30px;
  font-weight: 400;
  font-size: 15px;
  margin: auto;
  text-align: center;
  position: relative;
  width: 350px;
  z-index: 2;
  margin-bottom: 20px;
}

.newto::after{
  content: "";
  width: 32%;
  background-color: transparent;
  display: block;
  height: 3px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 50%;
  margin-top: 15px;
  z-index: 1;
}

.newto::before{
  content: "";
  width: 32%;
  background-color: transparent;
  display: block;
  height: 3px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  left:235px;
  top: 50%;
  margin-top: 15px;
  z-index: 1;
}

.tosignup{
  width: 350px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: black;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
}

.tosignup:hover{
  background-color: rgb(227, 222, 222);
}

.profile-image-div{
  width: 40px;
  height: 100%;
  margin-left: 20px;
}

.accountSettingsDropDown{
  width: 150px;
  position: absolute;
  margin-top: 8px;
  right: 5px;
  min-height: 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
  display: none;
}

.accountSettingsDropDown::after{
  content: "";
  width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 20px 10px 20px;
   border-color: transparent transparent rgb(245, 245, 245) transparent;
   position: absolute;
   top: -10px;
   right: 50px;
   transform: rotate(0deg);
}

.profile-image-div:hover > .accountSettingsDropDown{
  display: block;
}

.accountSettingsOption{
  cursor: pointer;
  padding-left: 5px;
  border-radius: 4px;
}

.accountSettingsOption:hover{
  background-color: rgb(210, 210, 210);
}

.profile-image{
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.priceshow{
  font-size: 20px;
}

.priceshowdiscounted{
  color: green;
}

.crossedOut{
  text-decoration: line-through grey;
  color: rgb(78, 73, 73);
  font-size: 16px;
  align-self: center;
}

.priceold{
  display: flex;
  gap: 4px;
}

.discountprice{
  gap: 9px;
  display: flex;
}

.discount{
  color: rgb(255, 0, 0);
  font-size: 10px;
  border: 1px red solid;
  padding: 1px;
  align-self: center;
}

.productcategoriesgrid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 20px;
}

.categorycard{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px 0px;
  height: 90px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  width: 95%;
}

.categoryproductimage{
  width: 33%;
  height: 100%;
}

.categoryIdentity{
  margin: auto;
}

.categoryIdentity >h5{
  margin-top: 5px;
  /* text-align: center; */
}

.productlink{
  color: black;
  text-decoration: none;
}

.productPage{
  padding: 50px;
  display: flex;
  gap: 50px;
}

.productPage img{
  /* padding: 20px; */
  height: 500px;
  width: 500px;
}

.starRating{
  display: flex;
  gap: 8px;
}

.starsss{
  display: flex;
  gap: 1.5px;
}

.ratingCount{
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid black;
}

.imageExpand{
  position: absolute;
  top: 50px;
  right: 5px;
  z-index: 3;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.imageExpandSVG{
  width: 25px;
  height: 25px;
}

.starSVG{
  width: 15px;
  height: 15px;
}

.productTitle{
  margin-bottom: 5px;
}

.productInfo{
  width: 800px;
}

.productInfo h5{
  font-weight: 400;
}

.productCategory{
  color: black;
}

.productCategory:hover{
  color: #007185;
  cursor: pointer;
  text-decoration: underline;
}

.cartPageEmpty{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.cartPageEmpty > h1{
  text-align: center;
}

.cartTitle{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(83, 83, 83, 0.586);
  padding-top: 20px;
  padding-bottom:5px ;
  padding-inline: 9px;
}

.cartTitle >  h1{
  font-weight: 400;
}

.cartTitle h4{
  align-self: flex-end;
}

.cartPageFilledLeft{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartPageFilledLeftCart {
  background-color: white;
  width: 70vw;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
}

.cartPageFilledLeftSavedForLater{
  background-color: white;
  width: 70vw;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
}

.cartPageFilledRight{
  padding: 20px;
  width: 300px;
  max-height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.complpletePurchase{
  background-color: rgb(61, 166, 32);
  border: none;
  padding-inline: 60px;
  padding-block: 10px;
  border-radius: 20px;
}

.complpletePurchaseGreyedOut{
  border: none;
  padding-inline: 60px;
  padding-block: 10px;
  border-radius: 20px;
  background-color: rgb(112, 112, 112);
}

.searchCategoryTop{
  height: 40px;
  width: 100%;
  padding-block: 10px;
  padding-inline: 10px;
  box-shadow: 0 0 7px rgba(0,0,0,0.8);
  display: flex;
  justify-content: space-between;
}

.searchCategoryTop span{
  color: #c45500;
}

.sortByButton{
  border: none;
  padding-block: 5px;
  background-color: rgb(181, 181, 181);
  padding-inline: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.sortByButton:hover{
  background-color:rgb(153, 153, 153) ;
}

.sortByButton:focus + .sortByDropDown{
  display: flex;

}

.complpletePurchase:hover{
  background-color: rgb(102, 205, 50);
}

.subTotalPurchase{
  font-size: 1rem;
}

.cartContent{
  width: 100%;
}

.cartItemContainer{
  padding: 10px;
  height: 210px;
  display: flex;
  align-items: center;
}

.contentOneCart{
  background-color: #e7e7e7;
  display: flex;
  justify-content: space-around;
}

.itemManagement{
  display: flex;
  margin-top: 15px;
}

.borderLeftApplyaForItemManagement{
  border-left: 1px solid rgba(128, 128, 128, 0.505);
  padding-left: 10px;
  margin-left: 10px;
  height: 60%;
  align-self: center;
  display: flex;
}

.borderLeftApplyaForItemManagement > a{
  color: #007185;
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  align-self: center;
}

.borderLeftApplyaForItemManagement > a:hover{
  color: #007185;
  text-decoration: underline;
}


.cartImgContainer{
  margin-right: 15px;
}

.cartItemTitle{
  width: 500px;
  text-align: start;
  font-weight: 410;
}

.cartInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 85%;
  gap: 4px;
}

.checkBoxDiv{
  display: flex;
}

.addSubtractAmount{
  display: flex;
  gap: 15px;
  border: 3px green solid;
  border-radius: 10px;
  padding-inline: 5px;
}

.addSubtractButton{
  cursor: pointer;
}

.thrashcan{
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  align-self: center;
}

.checkBoxText{
  font-size: .8rem;
  align-self: center;
}

.productTags{
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
}

.productTag{
  padding: 7px;
  border-radius: 4px;
  display: inline;
  color: rgb(0, 56, 0);
  background-color: green;
}

.descDivider{
  margin-top: 15px;
  margin-bottom: 15px;
  border-color:rgba(0, 0, 0, 0.337) !important;
  border-width: .5px;
}

.aboutitem{
  margin-bottom: 5px;
}

.purchaseProduct{
  padding: 20px;
  /* background-color: red; */
  border-radius: 5px;
  width: 500px;
  border: 1px solid black;
  position: relative;
}

.addTo{
  position: absolute;
  bottom: 20px;
}

.img-container {
  position: relative;
  overflow: hidden;
  width: 800px;
}

.imageZoom{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  z-index: 3;
}

.imageZoomSVG{
  width: 30px;
  height: 30px;
}

.expandedImageBox{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expandedImageImageExpanded{
  top: 0px;
  position: absolute;
  cursor: grab;
}

.img-zoom-lens {
  position: absolute;
  /*set the size of the lens:*/
  width: 50px;
  height: 50px;
}

.img-zoom-result {
  /*set the size of the result div:*/
  width: 500px;
  height: 500px;
  /* display: none; */
}

.productImage{
  opacity: 1;
  top: 0px;
  position: absolute;
}

.productImageZoomMode:hover{
  opacity: 0;
}

.imageZoomOn{
  background-color: rgb(180, 179, 179);
}

.arrowLeft{
  transform: rotate(180deg);
}

.buttonArrow{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding-block: 60px;
  padding-inline: 3px;
}

.expandedImageImageInactive{
  display: none !important;
}

.buttonArrow:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.buttonArrowSVG{
  width: 30px;
  height: 30px;
}

.priceDiscountProduct{
  margin-top: 5px;
  gap: 10px;
  display: flex;
}

.pricediscounted{
  color: rgba(22, 146, 2, 0.732);
  background-color: rgba(153, 205, 50, 0.215);
  display: inline;
  padding: 3px;
}

.addToCartButton{
  margin-top: 12.5px;
  display: block;
  width: 100%;
  padding-block: 7px;
  border: none;
  border-radius: 5px;
  background-color: rgb(61, 166, 32);
  cursor: pointer;
  margin-inline: auto;
  margin-bottom: 10px;
}

.addToCartButtonOutOfStock{
  margin-top: 12.5px;
  display: block;
  width: 100%;
  padding-block: 7px;
  border: none;
  border-radius: 5px;
  background-color: rgb(112, 112, 112);
  margin-inline: auto;
  margin-bottom: 10px;
}

.cartSVG{
  width: 25px;
  height: 25px;
}

.addTo{
  width: 280px;
}

.addToBottom{
  display: flex;
  gap: 20px;
}

.cartItemContainerContainer{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgba(83, 83, 83, 0.586);
}

.addTocartButtonForPage{
  padding-right: 20px;
  border-right: 1px solid black;
}

.forPageAdd{
  display: flex;
  gap: 10px;
}

.forPageAdd:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #007185;
}

.cartItemPriceDiscounted{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.discountFrom{
  display: flex;
  gap: 4px;
}

.discountedItemPercent{
  background-color: rgba(153, 205, 50, 0.215);
  color: rgba(22, 146, 2, 0.732);
  padding: 3px;
}

.discountedItemPrice{
  color: #008000;
  align-self: flex-end;
}

.cartItemPriceDiscountedCrossedOut{
  color: rgb(78, 78, 78);
  text-decoration: line-through;
}

.cartItemPrice{
  /* align-self: flex-start; */
  margin-top: 10px;
  font-size: .8rem;
}

.forPageAdd > h5{
  align-self: center;
  font-weight: 400;
}

.addToCartButton:hover{
  background-color: rgb(102, 205, 50);
}

.productPriceHR{
  margin-bottom: 15px;
}

.deliveryOptions{
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}

.deliverybutton{
  width: 90px;
  height: 90px;
  border-radius: 10px;
  border:2px solid rgba(161, 161, 161, 0.771);
}

.deliverybutton > img{
  margin-top: 5px;
  margin-bottom: 4px;
  margin-inline: auto;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.deliverybutton> h4{
  font-size: .8rem;
  text-align: center;
  font-weight: 400;
}

.deliverybutton> h6{
  text-align: center;
  font-weight: 400;
}

.greyscaled{
  filter: grayscale(100%);
}

.selectedProductDeliveryMethod{
  border-color: black;
}

.selectedProductDeliveryMethod h4{
  font-weight: 600;
}

.addToList{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 5px;
  top: 3px;
  border-radius: 40px;
  cursor: pointer;
}

.addToList:hover{
  background-color: grey;
}

.addToListSVG{
  width: 25px;
  height: 25px;
}

.buttonsTop{
  position: relative;
}

.popupError{
  position: sticky;
  bottom: 0px;
  padding: 20px;
  color: white;
  background-color: black;
  text-align: center;
  display:none;
  gap: 15px;
  /* animation: fadeUp 1s;
  animation-fill-mode: forwards; */
  transform: translate3d(0,80px,0);
  transition: .5s;
}

.closePopupError{
  cursor: pointer;
}

.searchContainer{
  /* height:90vh; */
  width: 100%;
  position: relative;
  overflow: hidden;
  /* display: flex; */
  flex-direction: row;
}

.searchFilter{
  font-size: 1.15rem;
}

.superCategory{
  display: flex;
  position: relative;
}

.searchFilters{
  position: sticky;
  top: 10.1vh;
  height: 100%;
  padding-inline: 20px;
  padding-block: 10px;
  width: 20%;
  border-right: 1px solid grey;
  margin-top: 10px;
  min-height: 100vh;
}

.searchCategoryContentAmount{
  font-weight: 400;
  font-size: 1rem;
  align-self: center;
}

.searchCategoryContentTypeCheckbox{
  display: flex;
  justify-content: space-between;
}

.searchCategoryContentTypeStarRating{
  display: flex;
}

.emptySearchResults{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.emptySearchResultsimg{
  width: 350px;
  height: 350px ;
}

.emptySearchResultsh1{
  margin-bottom: 10px;
}

.searchCategory{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-inline: 10px; */
  /* left: ; */
  padding-block: 5px;
  margin-bottom: 13px;
}

.filterCheckBox{
  width: 15px;
  height: 15px;
  border: 2px solid black;
}

.filterCheckBoxLabel{
  margin-left: 10px;
  font-weight: 350;
}

.searchFilterSeparator{
  margin-block: 15px;
}

.arrowSearchSVG{
  width: 20px;
  height: 20px;
  align-self: center;
}

.arrowSearchSVGDown{
  transform: rotate(90deg);
}

.searchResults{
  width: 80%;
  padding-block: 10px;
  padding-inline: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto;
  /* overflow: scroll; */
  /* overflow-x: hidden; */
}

.searchCategoryContent{
  display: none;
}

.itemQuantitySelector{
  margin-top: 5px;
  position: relative;
}

.itemQuantitySelectorButton{
  width: 150px;
  display: flex;
  align-items: center;
  padding-inline: 5px;
  justify-content: space-between;
  height: 35px;
  border-radius: 5px;
}

.itemQuantitySelectorButton:focus + .quantitySelectorDown{
  display: block;
}

.quantitySelectorDown:active{
  display: block;
}

.quantitySelectorDown{
  z-index: 2;
  width: 150px;
  background-color: #e7e7e7;
  border-radius: 2px;
  border: 1px solid rgba(54, 54, 54, 0.34);
  position: absolute;
  display: none;
  height: 250px;
  overflow-y: scroll;
}

.selectQuantityNumber{
  padding-block: 1px;
  padding-inline: 5px;
}

.selectQuantityNumber:hover{
  background-color: #b5b5b5;
}



.outOfStockText{
  color: rgb(240, 0, 0);
}

.inStockText{
  color: rgb(24, 165, 24);
}

.limitedStockText{
  color: rgb(196, 163, 0);
}

.arrowSelectQuantity{
  width: 10px;
  height: 10px;
  transform: rotate(90deg);
}

.colorSelectSelect{
  display: flex;
  margin-left: 15px;
  gap: 15px;
  margin-top: 15px;
  
}

.colorSelectImage{
  border: 2px solid;
  border-radius: 35px;
  border-color: black;
  padding: 10px;
  z-index: 2;
  cursor: pointer;
}

.gridBanners{
  height: 550px;
  display: grid;
  grid-template-areas: 
  "a a a b b c c d d d" 
  "a a a e e e e e e e" ;
  gap: 5px;
}

.gridBanner1{
  grid-area: a;
  background-image: url("Screenshot 2025-02-21 210500.png");
}
.gridBanner2{
  grid-area: b;
  background-image: url("Screenshot 2025-02-21 212056.png");
}
.gridBanner3{
  grid-area: c;
  background-image: url("Screenshot 2025-02-21 212658.png")
}
.gridBanner4{
  grid-area: d;
  background-image: url("Screenshot 2025-02-21 212819.png");
}
.gridBanner5{
  grid-area: e;
  background-image: url("Screenshot 2025-02-21 211634.png");
}

.gridBanner{
  border-radius: 10px;
  background-size: cover;
}

.addAsGift{
  position: absolute;
  bottom: 65px;
  display: flex;
}

.colorSelectImage > img{
  width: 50px;
  height: 45px;
}

.colorSelectImageSelected{
  border-color: #189ad3;

}

@keyframes fadeUp {
  from{
    transform: translate3d(0,80px,0);
  }
  to{
    transform: translate3d(0,0,0);
  }
}

@keyframes fadeDown {
  from{
    transform: translate3d(0,0,0);
  }
  to{
    transform: translate3d(0,80px,0);
  }
}